 body {
background-color: wheat;
 }
.center table,
.center div,
.center p {
    margin-right: auto;
    margin-left: auto;
}
.center table,
.center div,
.center p {
    margin-right: auto;
    margin-left: auto;
}
a {
  color: darkred;
  text-decoration:none;
}