 body {
background-color: aliceblue;
 }
.center table,
.center div,
.center p {
    margin-right: auto;
    margin-left: auto;
}
.center table,
.center div,
.center p {
    margin-right: auto;
    margin-left: auto;
}
@media screen and (max-width: 768px) {
    body{
        background-color: aliceblue;
     }
 }
 
 @media screen and (max-width: 480px) {
    body{
        background-color: aliceblue;
     }
 }