@font-face{
   font-family: 'Old';
   src: url('fonts/Tsukuhou-35Point-Gothic.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
 body {
   font-family: 'Old';
    line-height: 2;
   background-color: wheat;
 }
.center table,
.center div,
.center p {
    line-height: 2;
    margin-right: auto;
    margin-left: auto;
}
a {
    line-height: 2;
  color: darkred;
  text-decoration:none;
}
